/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
    font-family: "Open Sans";
}
.card .card-header {
    padding: 15px 15px;
}
.trendheader {
    display: table !important;
}
.trendheader h6,
.trendheader .btnsWrap {
    display: table-cell !important;
}
.trendheader .btnsWrap {
    float: right !important;
}
.btnsWrap .btn {
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}
.card .card-header h6 {
    padding: 0 !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
}
body .apexcharts-legend-text {
    font-size: 12px !important;
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
    text-transform: capitalize;
}
.main-menu.menu-light .navigation > li {
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}
.menu-content li.active {
    background: #36bbc1 !important;
}
.trendheader {
}
.customizer .customizer-toggle,
.btn-primary {
    background: #36bbc1;
}
.btn-outline-primary {
    border: 1px solid #36bbc1 !important;
    color: #36bbc1;
}
.btn-outline-primary:hover:not(.disabled):not(:disabled) {
    color: #36bbc1;
}
.btn-check:checked + .btn-outline-primary {
    color: #36bbc1;
    background-color: rgb(54, 187, 193, 0.2) !important;
}
/*
** start css for dashboard
*/

.card-statistics .statistics-body {
    padding: 0.5rem 0.5rem 0.5rem !important;
}

.card-body {
    padding: 0.5rem !important;
}

table td,
table th {
    font-size: 11px !important;
}
select[name="comment_table_length"],
div.dataTables_filter input {
    background-color: #fafafa;
    height: 28px;
    font-size: 12px;
    line-height: 9px;
    /* border-radius: 0; */
    border-left-width: 2px;
    width: 50px;
}
div.dataTables_length label,
div.dataTables_filter label {
    font-size: 11px;
    font-weight: bold !important;
}
div.dataTables_info,
.page-item .page-link {
    font-size: 11px;
}

table .spinner-border {
    width: 1rem !important;
    height: 1rem !important;
}

.testimonial .header h3 {
    font-weight: bolder;
    color: #333;
}
.testimonial .body p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    font-weight: 600;
}
.avatar {
    background-color: unset !important;
}

.card-statistics .statistics-body .avatar .avatar-content img {
    width: 40px !important;
    height: 40px !important;
}
.neutral-avatar {
    background-color: rgb(174, 189, 196) !important;
}
.card-statistics .statistics-body .neutral-avatar .avatar-content img{
    width: 35px !important;
    height: 35px !important;
}
.my-auto h4  {
    color: black !important;
    font-weight: bolder !important;
}
.my-auto p{
    font-weight: 600 !important;
    color: black !important;
}
